<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>ERROR - 404</title>

    <link th:href="@{/CSS/error.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../../static/CSS/error.css">

    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../../static/CSS/NavBar.css">

    <link th:href="@{/CSS/login.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../../static/CSS/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
</head>
<body onload="document.getElementById('id01').style.display='block'">
<div th:replace="nav.fragment"></div>
<div class="container-dashboard">
    <h1 class="error" >Fejlkode: 404 - Der er ingen side her</h1>
    <h1 class="errormessage">Vi undskylder men den side du søger efter findes ikke</h1>
    <a href="../"><button type="submit">Tilbage til forsiden</button></a>
    <div class="hero-backdrop">
        <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
                         src="../../static/CSS/images/hero.png"/>
    </div>
</div>
</body>
</html>