<!-- Lavet af Mohammed -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>ERROR - 500</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../../static/CSS/NavBar.css">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../../static/CSS/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
</head>
<body onload="document.getElementById('id01').style.display='block'">
<div th:replace="nav.fragment"></div>
<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../../static/CSS/images/hero.png"/>
</div>
<div class="container-dashboard">
    <h1>500 - Fejl</h1>
    <h2 >Hov... Noget gik galt. Kontakt din leder</h2>
    <button  onclick="history.back()">Tilbage til forrige side</button>
    <a href="../"><button type="submit">tilbage til forsiden</button></a>

</div>
</body>
</html>