/*Navbbar fra miniprojekt ønskeliste. aflevering iWISH*/
#navbar {
    background-color: #FFFFFF;
    overflow: hidden;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Opensans-regular,sans-serif;
    letter-spacing: 2px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 90px;
    font-weight: Bold;
    width: 100%;
}



#navbar a:hover {
    background-color: #FFFFFF;
    color: #1a1919;
    transition-duration: .3s;
    border-radius: 2px;
}

/* Navbar links */
#navbar a {
    background-color: #FFFFFF;
    float: left;
    display: flex;
    color: black;
    text-align: center;
    padding: 35px 60px 35px 0px;
    text-decoration: none;
    position: relative;

}


.logo-left {
    display: flex;
    justify-content: start;
    margin-right: 1100px;

}
.logo-left-admin {
    display: flex;
    justify-content: start;
    margin-right: 550px;
}
.logo-left-nav {
    display: flex;
    justify-content: start;
    margin-right: 500px;

}
.logo-left-skade {
    display: flex;
    justify-content: start;
    margin-right: 650px;

}
.navigation{
    display: flex;
    justify-content: end;
}
.logo-left-admin {
    display: flex;
    justify-content: start;
    margin-right: 550px;
}


/* Page content */
.content {
    padding: 16px;
}

.small-nav-logo{
    width: 350px;
}




