<!-- Lavet af Malthe -->
<nav th:fragment="admin" class="navi-section">
    <nav th:if="${user.type==4}" class="navi-section-admin">
        <div id="navbar-admin">
            <div class="logo-left-admin">

            </div>
            <div class="navigation">
                <a class="admin" th:classappend="${(pagetitle=='Dashboard' ? 'adminnav' : '') + (pagetitle=='Opret Køretøj' ? 'adminnav' : '')}" href="../dashboard">Dashboard</a>
                <a class="admin" th:classappend="${(pagetitle=='Opret Lejeaftale' ? 'adminnav' : '') + (pagetitle=='Lageroverblik' ? 'adminnav' : '') + (pagetitle=='Alle Lejeaftaler' ? 'adminnav' : '') + (pagetitle=='Find Lejeaftale' ? 'adminnav' : '')}" href="../opretlejeaftale" >Lejeaftaler</a>
                <a class="admin" th:classappend="${(pagetitle=='Opret Skadesrapport' ? 'adminnav' : '') + (pagetitle=='Find Tilbageleveringer' ? 'adminnav' : '') + (pagetitle=='Skadesrapport' ? 'adminnav' : '')}" href="../findlease" >Skadesrapport</a>
                <a class="admin" th:classappend="${(pagetitle=='Opret Bruger' ? 'adminnav' : '') + (pagetitle=='Skift Kode' ? 'adminnav' : '') + (pagetitle=='Slet Bruger' ? 'adminnav' : '') + (pagetitle=='Alle Medarbejdere' ? 'adminnav' : '')+ (pagetitle=='Profil' ? 'adminnav' : '')}" href="../opretbruger" >Håndter bruger </a>
            </div>
        </div>
    </nav>
</nav>