<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Slet en medarbejder</h2>
<form
        action="/deleteEmployee"
        method="post">
    <div class="container">
        <label>User ID</label>
        <input type="text" placeholder="Enter User ID" name="userID">
        <button type="submit">slet Medarbejder</button>

    </div>
</form>
<h2>Opret medarbejder</h2>
<form
        action="/addEmployee"
        method="post">
    <div class="container">
        <label>Indtast Fornavn</label>
        <input type="text" placeholder="Fornavn" name="firstName">
        <label>Indtast efterNavn</label>
        <input type="text" placeholder="Indtast her" name="lastName">
        <label>Indtast E-Mail</label>
        <input type="text" placeholder="test@mail.dk" name="eMail">
        <label>Indtast telefonnummer</label>
        <input type="text" placeholder="+45 34323336" name="phoneNumber">
        <label>Indtast Brugernavn</label>
        <input type="text" placeholder="Moha135h" name="userName">
        <label>Indtast Adgangskode</label>
        <input type="text" placeholder="TestKode123" name="password">
        <label>Vælg type medarbejder</label>
        <label>Skriv enten 1,2,3 eller 4</label>
        <label>1: Registrerings Medarbejder</label>
        <label>1: Skade- Registrerings Medarbejder</label>
        <label>1: ForretningsUdvikler</label>
        <label>1: Administrator</label>
        <input type="text" placeholder="1, 2 , 3 eller 4" name="type">
        <button type="submit">opret Medarbejder</button>

    </div>
</form>
</body>
</html>