<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Alle lejeaftaler</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>


<nav class="navi-section">
    <div class="navbar" id="navbar">
        <div class="logo-left-nav">
            <a href="/opretlejeaftale"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                            src="../static/CSS/images/Logo-250x250.png"/></a>
        </div>
        <div class="name-logout">
            <a href="../opretlejeaftale">Opret Lejeaftale</a>
            <a href="../allelejeaftaler">Alle Lejeaftaler</a>
            <a href="../findlejeaftale" >Find Lejeaftale</a>
            <a class="navi-username" th:text="${user.username}" ></a>
            <a href="../logout" class="login-button">Logud</a>
        </div>

    </div>
</nav>
<nav th:if="${user.type==4}" class="navi-section-admin">
    <div class="navbar" id="navbar-admin">
        <div class="logo-left-admin">

        </div>
        <div class="navigation">
            <a th:if="${user.type==4}" href="../dashboard">Dashboard</a>
            <a th:if="${user.type==4}" href="../opretlejeaftale" >Lejeaftaler</a>
            <a th:if="${user.type==4}" href="../findlease" >Skadesrapport</a>
            <a th:if="${user.type==4}" href="../opretbruger" >Håndter bruger </a>
        </div>
    </div>
</nav>

<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../static/CSS/images/hero.png"/>
</div>
<div class="container-dashboard">

    <h1>Alle Lejeaftaler</h1>
    <table>
        <thead>
        <tr>
            <th scope="col">
                Lejeaftale ID
            </th>
            <th scope="col">
                Fornavn
            </th>
            <th scope="col">
                Efternavn
            </th>
            <th scope="col">
                Lejeaftale periode
            </th>
            <th scope="col">
                Start Dato
            </th>
            <th scope="col">
                Slut Dato
            </th>
            <th scope="col">Se rapporten</th>
            <th scope="col">Slet rapporten</th>
        </tr>
        </thead>
        <tbody>
        <tr class="card" th:each="leje : ${lease}">
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual" th:text="${leje.leaseID}"
                   target="_blank"></a>
            </td>
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual" th:text="${leje.firstName}"
                   target="_blank"></a>
            </td>
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual" th:text="${leje.lastName}"
                   target="_blank"></a>
            </td>
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual"
                   th:text="${period.subtractDates(leje.startDate,leje.endDate)}" target="_blank"></a>
            </td>
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual" th:text="${leje.startDate}"
                   target="_blank"></a>
            </td>
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual" th:text="${leje.endDate}"
                   target="_blank"></a>
            </td>
            <td class="row-update"><a class="link-row link" th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}">Se
                Lejeaftale</a></td>
            <td class="row-update"><a class="link-row link" th:href="@{/sletaftale/{leaseID}(leaseID=${leje.leaseID})}" >Slet
                Lejeaftale</a></td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>