<!-- Lavet af Malthe og Simon-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Alle lejeaftaler</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
</head>
<body>


<div th:replace="allusers.fragment :: lejeaftale"></div>
<div th:replace="admin.fragment"></div>

<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../static/CSS/images/hero.png"/>
</div>
<div class="container-dashboard">

    <h1>Alle Lejeaftaler</h1>
    <table>
        <thead>
        <tr>
            <th scope="col">
                Lejeaftale ID
            </th>
            <th scope="col">
                Fornavn
            </th>
            <th scope="col">
                Efternavn
            </th>
            <th scope="col">
                Lejeaftale periode
            </th>
            <th scope="col">
                Start Dato
            </th>
            <th scope="col">
                Slut Dato
            </th>
            <th scope="col">Se rapporten</th>
            <th scope="col">Skift status</th>
        </tr>
        </thead>
        <tbody>
        <tr class="card" th:each="leje : ${lease}" th:if="${leje.getStatus() == 1 || leje.getStatus() == 0}">
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual" th:text="${leje.leaseID}"
                   target="_blank"></a>
            </td>
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual" th:text="${leje.firstName}"
                   target="_blank"></a>
            </td>
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual" th:text="${leje.lastName}"
                   target="_blank"></a>
            </td>
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual"
                   th:text="${period.subtractDates(leje.startDate,leje.endDate)}" target="_blank"></a>
            </td>
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual" th:text="${#temporals.format(leje.startDate,'dd/MM-yy')}"
                   target="_blank"></a>
            </td>
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual" th:text="${#temporals.format(leje.endDate,'dd/MM-yy')}"
                   target="_blank"></a>
            </td>
            <td class="row-update"><a class="link-row link" th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}">Se
                Lejeaftale</a></td>
            <td class="row-update" th:classappend="${leje.status==1} ? updatered : updategreen">
                <a class="link-row link" th:if="${leje.status==0}" th:href="@{/opdater/{leaseID}(leaseID=${leje.leaseID})}" >Tilbageleveret</a>
            <a class="link-row link" th:if="${leje.status==1}" th:href="@{/sletaftale/{leaseID}(leaseID=${leje.leaseID})}" >Ikke tilbageleveret</a></td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>