<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Alle lejeaftaler</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>
<div th:replace="lejeaftale.fragment"></div>

<div class="container-rapport">

    <h1>Alle Lejeaftaler</h1>
    <table>
        <thead>
        <tr>
            <th scope="col">
                Lejeaftale ID
            </th>
            <th scope="col">
                Fornavn
            </th>
            <th scope="col">
                Efternavn
            </th>
            <th scope="col">
                Lejeaftale periode
            </th>
            <th scope="col">
                Start Dato
            </th>
            <th scope="col">
                Slut Dato
            </th>
            <th scope="col">Se rapporten</th>
        </tr>
        </thead>
        <tbody>
        <tr class="card" th:each="leje : ${lease}">
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual"  th:text="${leje.leaseID}" target="_blank" ></a>
            </td>
            <td>
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual"  th:text="${leje.firstName}" target="_blank" ></a>
            </td>
            <td >
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual"  th:text="${leje.lastName}" target="_blank" ></a>
            </td>
            <td >
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual"  th:text="${leje.leasePeriodInDays}" target="_blank" ></a>
            </td>
            <td >
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual"  th:text="${leje.startDate}" target="_blank" ></a>
            </td>
            <td >
                <a th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}" class="individual"  th:text="${leje.endDate}" target="_blank" ></a>
            </td>
            <td class="row-update"><a class="link-row link" th:href="@{/lejeaftale/{id}(id=${leje.leaseID})}">Se Lejeaftale</a></td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>