<!-- Lavet af Malthe -->
<nav th:fragment="lejeaftale" class="navi-section">
  <nav class="navi-section" th:if="${user.type==1 || user.type==4}">
    <div class="navbar">
      <div class="logo-left-nav">
        <a href="/opretlejeaftale"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                        src="../static/CSS/images/Logo-250x250.png"/></a>
      </div>
      <div class="name-logout">
        <a href="../opretlejeaftale">Opret Lejeaftale</a>
        <a href="../lageroverblik">Lageroverblik</a>
        <a href="../allelejeaftaler">Alle Lejeaftaler</a>
        <a href="../findlejeaftale" >Find Lejeaftale</a>
        <a href="../profile" class="navi-username" th:text="${user.username}" ></a>
        <a href="../logout" class="login-button">Logud</a>
      </div>

    </div>
  </nav>
</nav>
<nav th:fragment="skade" class="navi-section">
<nav class="navi-section" th:if="${user.type==2 || user.type == 4}">
  <div class="navbar">
    <div class="logo-left-skade">
      <a href="/findlease"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                src="../static/CSS/images/Logo-250x250.png"/></a>
    </div>
    <div class="name-logout">
      <a href="../findlease">Opret SkadeRapport</a>
      <a href="../findretur" >Find tilbageleveringer</a>
      <a href="../skaderapport">Alle Skadesrapporter</a>
      <a href="../profile" class="navi-username" th:text="${user.username}" ></a>
      <a href="../logout" class="login-button">Logud</a>
    </div>
  </div>
</nav>
</nav>
<nav th:fragment="dashboard" class="navi-section" >
<nav class="navi-section" th:if="${user.type==3 || user.type==4}">
  <div class="navbar">
    <div class="logo-left-kpi">
      <a href="/dashboard"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                src="../static/CSS/images/Logo-250x250.png"/></a>
    </div>

    <div class="name-logout">
      <a href="../createcar" >Opret Køretøj</a>
      <a href="../dashboard">Dashboard</a>
      <a href="../profile" class="navi-username" th:text="${user.username}"></a>
      <a href="../logout" class="login-button">Logud</a>
    </div>

  </div>
</nav>
</nav>

<nav th:fragment="adminnav">
  <nav class="navi-section" th:if="${user.type==4}">
    <div class="navbar">
      <div class="logo-left-admin">
        <a href="/opretbruger"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                    src="../static/CSS/images/Logo-250x250.png"/></a>
      </div>
      <div class="name-logout">
        <a href="../skiftkode" >Skift Kode </a>
        <a href="../sletbruger" >Slet Bruger </a>
        <a href="../opretbruger" >Opret Bruger </a>
        <a href="../allemedarbejdere" >Alle medarbejdere </a>
        <a href="../profile" class="navi-username" th:text="${user.username}"></a>
        <a href="../logout" class="login-button">Logud</a>
      </div>
    </div>
  </nav>
</nav>