<!-- Lavet af Mohammad -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title th:text="${pagetitle}"></title>
    <link rel="stylesheet" href="../static/CSS/chat.css" />
    <link rel="stylesheet" th:href="@{/CSS/chat.css}">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css" />
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>
<noscript>
    <h2>Undskyld! Din browser undersøtter ikke Javascript</h2>
</noscript>
<div th:if="${profile.type == 1}" th:replace="profile.fragment :: lejeaftale"></div>
<div th:if="${profile.type == 2}" th:replace="profile.fragment :: skade"></div>
<div th:if="${profile.type == 3}" th:replace="profile.fragment :: dashboard"></div>
<div th:if="${profile.type == 4}" th:replace="profile.fragment :: adminnav"></div>
<div th:replace="admin.fragment"></div>

<div id="username-page">
    <div class="username-page-container">
        <h1 class="title" th:text="${'Du er logget ind som: '+user.username}"></h1>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <input type="text" id="name" placeholder="Username"
                       autocomplete="off" class="form-control" th:value="${user.username}"
                       style="display: none"  value="userName" readonly/>
            </div>
            <div class="form-group">
                <button type="submit" class="accent username-submit">Hop ind i samtalen</button>
            </div>
        </form>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <h2>Bilabonnement - portalen Medarbejder Chat</h2>
        </div>
        <div class="connecting">Forbinder...</div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Skriv en besked..."
                           autocomplete="off" class="form-control" />
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="../static/JS/chat.js"></script>
<script th:src="@{/JS/chat.js}"></script>
</body>
</html>