<!-- Lavet af Mohammed -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Registrer ny køretøj</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>

</head>
<body>
<div th:replace="allusers.fragment :: dashboard"></div>
<div th:replace="admin.fragment"></div>

<div class="form-container">
    <h1>Registrer ny køretøj</h1>
    <form
            action="/createnewcar"
            onsubmit="myFunction()"
            method="post"
    >
        <div class="zindex">
            <label>Indtast stelnummer</label>
            <input type="text" placeholder="GYTH234M" name="stelnummer">

            <label>Indtast Brand</label>
            <input type="text" placeholder="fx. BMW, Mercedes, Opel" name="brand">

            <label>Indtast Model</label>
            <input type="text" placeholder="X5, C63 AMG" name="model">

            <label>Indtast prisen</label>
            <input type="text" placeholder="4995" name="price">

            <button type="submit">Registrer ny bil</button>
        </div>
    </form>
</div>
<script>
    function myFunction() {
        stelnummer = document.forms[0].stelnummer.value;
        alert(stelnummer+" er oprettet");
    }
</script>
</body>
</html>