<!-- Lavet af Mohammed -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${pagetitle}"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/png" th:href="@{../favicon.png}"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>

</head>
<body>
<div th:replace="allusers.fragment :: dashboard"></div>
<div th:replace="admin.fragment"></div>

<div class="form-container">
    <h1>Registrer ny bil</h1>
    <form
            action="/createnewcar"
            onsubmit="myFunction()"
            method="post"
    >
        <div class="zindex">
            <label>Stelnummer</label>
            <input type="text" required placeholder="GYTH234M" name="stelnummer">

            <label>Brand</label>
            <input type="text" required placeholder="BMW, Mercedes, Opel" name="brand">

            <label>Model</label>
            <input type="text" required placeholder="X5, C63 AMG" name="model">

            <label>Pris pr måned</label>
            <input type="text" required placeholder="4995" name="price">

            <button type="submit">Opret ny bil</button>
        </div>
    </form>
</div>
<script>
    function myFunction() {
        stelnummer = document.forms[0].stelnummer.value;
        alert(stelnummer+" er oprettet");
    }
</script>
</body>
</html>