<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>

<nav class="navi-section">
    <div class="navbar" id="navbar">
        <div class="logo-left-kpi">
            <a href="/dashboard"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                            src="../static/CSS/images/Logo-250x250.png"/></a>
        </div>

        <div class="name-logout">
            <a href="../dashboard">Se KPI</a>
            <a class="navi-username" th:text="${user.username}" ></a>
            <a href="../logout" class="login-button">Logud</a>
        </div>

    </div>
</nav>
<nav th:if="${user.type==4}" class="navi-section-admin">
    <div class="navbar" id="navbar-admin">
        <div class="logo-left-admin">

        </div>
        <div class="navigation">
            <a th:if="${user.type==4}" href="../dashboard">Dashboard</a>
            <a th:if="${user.type==4}" href="../opretlejeaftale" >Lejeaftaler</a>
            <a th:if="${user.type==4}" href="../findlease" >Skadesrapport</a>
            <a th:if="${user.type==4}" href="../admin" >Håndter bruger </a>
        </div>
    </div>
</nav>
<div class="container-rapport">
<h2>Hvis en bil er udlejet vil status se således ud</h2>
<button style="background-color: red"></button>
<h2>Hvis en bil er tilgængelig og kan udlejes ser status således ud</h2>
<button style="background-color: green"></button>
<h1>Alle biler</h1>
<details>
    <h2>Antal Biler</h2>
    <h3 th:text="${allCars.size()}"></h3>
    <summary>Se Alle biler</summary>
    <table class="allCars">
        <thead>
        <tr>
            <th>
                Vognnummer
            </th>
            <th>
                Stelnummer
            </th>
            <th>
                Bil mærke
            </th>
            <th>
                Bil model
            </th>
            <th>
                Bil pris
            </th>
            <th>
                Status
            </th>
        </tr>
        </thead>
        <tr th:each="Car : ${allCars}">
            <td th:text="${Car.getVognNummer()}">
            </td>
            <td th:text="${Car.getStelNummer()}">
            </td>
            <td th:text="${Car.getBrand()}">

            </td>
            <td th:text="${Car.getModel()}">

            </td>
            <td th:text="${Car.getPrice()}">

            </td>
            <td th:if="${Car.isLeased() == 1}">
                <button style="background-color: red"></button>
            </td>
            <td th:if="${Car.isLeased() == 0}">
                <button style="background-color: green"></button>
            </td>
        </tr>
    </table>
</details>
<h1>Alle udlejet biler</h1>
<details>
    <h2>Antal Biler udlejet</h2>
    <h3 th:text="${amountOfLeasedCars}"></h3>
    <SUMMARY>se alle udlejet biler</SUMMARY>
    <table class="allLeasedCars">
        <thead>
        <tr>
            <th>
                Vognnummer
            </th>
            <th>
                Stelnummer
            </th>
            <th>
                Bil mærke
            </th>
            <th>
                Bil model
            </th>
            <th>
                Bil pris
            </th>
            <th>
                Status
            </th>
        </tr>
        </thead>
        <tr th:each="Car : ${listOfLeasedCars}">
            <td th:text="${Car.getVognNummer()}">
            </td>
            <td th:text="${Car.getStelNummer()}">
            </td>
            <td th:text="${Car.getBrand()}">

            </td>
            <td th:text="${Car.getModel()}">

            </td>
            <td th:text="${Car.getPrice()}">
            </td>
            <td th:if="${Car.isLeased() == 1}">
                <button style="background-color: red"></button>
            </td>
            <td th:if="${Car.isLeased() == 0}">
                <button style="background-color: green"></button>
            </td>
        </tr>
    </table>
</details>
<h1>Antal pris på udlejet biler</h1>
<h2 th:text="${totalPriceOfLeasedCars}"></h2>
</div>
</body>
</html>