<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>

<nav class="navi-section">
    <div class="navbar" id="navbar">
        <div class="logo-left-kpi">
            <a href="/dashboard"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                      src="../static/CSS/images/Logo-250x250.png"/></a>
        </div>

        <div class="name-logout">
            <a href="../findretur" >Find tilbageleveringer</a>
            <a href="../createcar" >Opret Køretøj</a>
            <a href="../dashboard">Se KPI</a>
            <a class="navi-username" th:text="${user.username}"></a>
            <a href="../logout" class="login-button">Logud</a>
        </div>

    </div>
</nav>
<nav th:if="${user.type==4}" class="navi-section-admin">
    <div class="navbar" id="navbar-admin">
        <div class="logo-left-admin">

        </div>
        <div class="navigation">
            <a th:if="${user.type==4}" href="../dashboard">Dashboard</a>
            <a th:if="${user.type==4}" href="../opretlejeaftale">Lejeaftaler</a>
            <a th:if="${user.type==4}" href="../findlease">Skadesrapport</a>
            <a th:if="${user.type==4}" href="../opretbruger" >Håndter bruger </a>
        </div>
    </div>
</nav>

<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../static/CSS/images/hero.png"/>
</div>
<div class="container-dashboard">
    <h1>Dashboard</h1>

    <div class="parent">
        <div class="item-a">
            <div class="a-container">
                <h2 class="header-kpi">Udlejet</h2>
                <div class="inline-kpi" >
                    <h1 class="big-header" th:classappend="${(colorPrice==1 ? 'bigheadergreen' : '') + (colorPrice==2 ? 'bigheaderyellow' : '')
                    + (colorPrice==3 ? 'bigheaderorange': '') + (colorPrice==4 ? 'bigheaderred' : '')}"  th:text="${amountOfLeasedCars}">Alle biler</h1>
                    <h1 class="big-header-last" th:text="${allCars.size()}"></h1>
                </div>
                <div class="inline">

                    <details>

                        <SUMMARY>Udlejet biler</SUMMARY>
                        <h6>Hvis bilen er udlejet er status rød</h6>
                        <button style="background-color: red"></button>
                        <h6>Hvis bilen er tilgængelig er status grøn</h6>
                        <button style="background-color: green"></button>
                        <table class="allCars">
                            <thead>
                            <tr>
                                <th class="th-header">
                                    Vognnummer
                                </th>
                                <th class="th-header">
                                    Stelnummer
                                </th>
                                <th class="th-header">
                                    Bil mærke
                                </th>
                                <th class="th-header">
                                    Bil model
                                </th>
                                <th class="th-header">
                                    Bil pris
                                </th>
                                <th class="th-header">
                                    Status
                                </th>
                            </tr>
                            </thead>
                            <tr th:each="Car : ${listOfLeasedCars}">
                                <td class="td" th:text="${Car.getVognNummer()}">
                                </td>
                                <td class="td" th:text="${Car.getStelNummer()}">
                                </td>
                                <td class="td" th:text="${Car.getBrand()}">

                                </td>
                                <td class="td" th:text="${Car.getModel()}">

                                </td>
                                <td class="td" th:text="${#numbers.formatDecimal(Car.getPrice(),0,0)}">
                                </td>
                                <td class="td" th:if="${Car.isLeased() == 1}">
                                    <button style="background-color: red"></button>
                                </td>
                                <td class="td" th:if="${Car.isLeased() == 0}">
                                    <button style="background-color: green"></button>
                                </td>
                            </tr>
                        </table>
                    </details>
                    <details>
                        <summary>Alle biler</summary>
                        <h6>Hvis bilen er udlejet er status rød</h6>
                        <button style="background-color: red"></button>
                        <h6>Hvis bilen er tilgængelig er status grøn</h6>
                        <button style="background-color: green"></button>
                        <table class="allCars">
                            <thead>
                            <tr>
                                <th class="th-header">
                                    Vognnummer
                                </th>
                                <th class="th-header">
                                    Stelnummer
                                </th>
                                <th class="th-header">
                                    Bil mærke
                                </th>
                                <th class="th-header">
                                    Bil model
                                </th>
                                <th class="th-header">
                                    Bil pris
                                </th>
                                <th class="th-header">
                                    Status
                                </th>
                            </tr>
                            </thead>
                            <tr th:each="Car : ${allCars}">
                                <td class="td" th:text="${Car.getVognNummer()}">
                                </td>
                                <td class="td" th:text="${Car.getStelNummer()}">
                                </td>
                                <td class="td" th:text="${Car.getBrand()}">

                                </td>
                                <td class="td" th:text="${Car.getModel()}">

                                </td>
                                <td class="td" th:text="${#numbers.formatDecimal(Car.getPrice(),0,0)}">

                                </td>
                                <td class="td" th:if="${Car.isLeased() == 1}">
                                    <button style="background-color: red"></button>
                                </td>
                                <td class="td" th:if="${Car.isLeased() == 0}">
                                    <button style="background-color: green"></button>
                                </td>
                            </tr>
                        </table>
                    </details>
                </div>
            </div>
        </div>
        <div class="item-b">
            <div class="b-container">
                <h2 class="header-kpi">Pris på udlejet</h2>
                <div class="inline-kpi">
                    <h1 class="big-header-kpi" th:classappend="${(colorPrice==1 ? 'bigheadergreen' : '') + (colorPrice==2 ? 'bigheaderyellow' : '')
                    + (colorPrice==3 ? 'bigheaderorange': '') + (colorPrice==4 ? 'bigheaderred' : '')}"
                        th:text="${#numbers.formatDecimal(totalPriceOfLeasedCars,0,0)}"></h1>

                </div>
                <h1 class="small-header-kpi" th:text="${#numbers.formatDecimal(totalPriceOfAllCars,0,0)}"></h1>
            </div>
        </div>
        <div class="item-c" th:if="${color==1 || color==2 || color==3 || color==4}">
            <div class="c-container">
            <h2 class="header-kpi">Mest udlejet bil</h2>

                <table class="popularCar" >
                    <tr  class="one-row" th:each="bilModels : ${brandModel}" th:if="${DashboardService.percentageStatus(allCars, listOfLeasedCars, bilModels.getModel(), bilModels.getBrand()) == 1 || DashboardService.percentageStatus(allCars, listOfLeasedCars, bilModels.getModel(), bilModels.getBrand()) == 2 || DashboardService.percentageStatus(allCars, listOfLeasedCars, bilModels.getModel(), bilModels.getBrand()) == 3 || DashboardService.percentageStatus(allCars, listOfLeasedCars, bilModels.getModel(), bilModels.getBrand()) == 4}">
                        <td colspan="2" class="td-popular"
                                th:text="${bilModels.getBrand()}+' '+${bilModels.getModel()}">
                        </td>
                        <td colspan="2" class="td-popular" th:classappend="${(DashboardService.percentageStatus(allCars, listOfLeasedCars, bilModels.getModel(), bilModels.getBrand()) == 1 ? 'tdpopularred' : '') + (DashboardService.percentageStatus(allCars, listOfLeasedCars, bilModels.getModel(), bilModels.getBrand()) == 2 ? 'tdpopularorange' : '') + (DashboardService.percentageStatus(allCars, listOfLeasedCars, bilModels.getModel(), bilModels.getBrand()) == 3 ? 'tdpopularyellow' : '') + (DashboardService.percentageStatus(allCars, listOfLeasedCars, bilModels.getModel(), bilModels.getBrand()) == 4 ? 'tdpopulargreen' : '')}"
                            th:text="${DashboardService.howManyPerModel(listOfLeasedCars,bilModels.getModel(),bilModels.getBrand())} + '/' +${DashboardService.howManyPerModel(allCars,bilModels.getModel(),bilModels.getBrand())} ">
                        </td>
                        <td class="td-popular"
                            th:text="${#numbers.formatDecimal(carRep.sumPriceLeasedCars(bilModels.getBrand(), bilModels.getModel()),0,0)}">
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="item-d">
            <div class="d-container">
                <h2 class="header-kpi">Dagens tilbageleveringer</h2>
                <div class="inline-kpi">
                    <h1 class="big-header-kpilevering" th:text="${returnstoday.size()}"></h1>
                </div>
                <h1 class="small-header-kpi-leveret" th:text="${dagensDato}"></h1>
            </div>
        </div>
    </div>
    <br>
    <br>
        <h2>Udlejet pr enkelt bil</h2>
        <details>
            <summary>Farvens betydelse</summary>
            <h6>Hvis 75% eller over af den specifikke model er udlejet er status rød</h6>
            <button style="background-color: red"></button>
            <h6>hvis 50% til 75% af den specifikke model er udlejet er status gul</h6>
            <button style="background-color: yellow"></button>
            <h6>hvis 25% til 50% af den specifikke model er udlejet er status orange</h6>
            <button style="background-color: orange"></button>
            <h6>Hvis 25% eller under af den specifikke model er udlejet er status grøn</h6>
            <button style="background-color: green"></button>
        </details>

        <table class="allCars">
            <thead>
            <tr>
                <th class="th-header">
                    Bil Mærke
                </th>
                <th class="th-header">
                    Bil Model
                </th>
                <th class="th-header">
                    Antal Udlejet
                </th>
                <th class="th-header">
                    Antal biler
                </th>
                <th class="th-header">
                  DKK. pr. md.
                </th>
                <th class="th-header">
                    Status
                </th>
            </tr>
            </thead>
            <tr th:each="brandModels : ${brandModel}">
                <td class="td" th:text="${brandModels.getBrand()}">
                </td>
                <td class="td" th:text="${brandModels.getModel()}">
                </td>
                <td class="td" th:text="${DashboardService.howManyPerModel(listOfLeasedCars,brandModels.getModel(),brandModels.getBrand())}">
                </td>
                <td class="td" th:text="${DashboardService.howManyPerModel(allCars,brandModels.getModel(),brandModels.getBrand())}">
                </td>
                <td class="td" th:text="${#numbers.formatDecimal(carRep.sumPriceLeasedCars(brandModels.getBrand(), brandModels.getModel()),0,0)}">
                </td>
                <td class="td" th:if="${DashboardService.percentageStatus(allCars, listOfLeasedCars, brandModels.getModel(), brandModels.getBrand()) == 1}">
                    <button style="background-color: red"></button>
                </td>
                <td class="td" th:if="${DashboardService.percentageStatus(allCars, listOfLeasedCars, brandModels.getModel(), brandModels.getBrand()) == 2}">
                    <button style="background-color: orange"></button>
                </td>
                <td class="td" th:if="${DashboardService.percentageStatus(allCars, listOfLeasedCars, brandModels.getModel(), brandModels.getBrand()) == 3}">
                    <button style="background-color: yellow"></button>
                </td>
                <td class="td" th:if="${DashboardService.percentageStatus(allCars, listOfLeasedCars, brandModels.getModel(), brandModels.getBrand()) == 4}">
                    <button style="background-color: green"></button>
                </td>
            </tr>
        </table>
</div>
</body>
</html>