<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Register Fejl og Mangler</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>

<div th:replace="allusers.fragment :: skade"></div>
<div th:replace="admin.fragment"></div>
<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../static/CSS/images/hero.png"/>
</div>
<div class="container-dashboard">
    <h1>Find tilbageleveringer på en bestemt dag</h1>
    <form
            method="get"
            th:action="@{/findretur/}">
        <div class="container-form-big">

            <input type="date" name="keyword" th:value="${keyword}" placeholder="Find lejeaftale" size="50">


            <button class="submit-button-small" type="submit">Søg efter lejeaftale</button>
        </div>

    </form>

    <table>
        <thead>
        <tr>
            <th scope="col">
                Lejeaftale ID
            </th>
            <th scope="col">
                Fornavn
            </th>
            <th scope="col">
                Efternavn
            </th>
            <th scope="col">
                Lejeaftale periode
            </th>
            <th scope="col">
                Start Dato
            </th>
            <th scope="col">
                Slut Dato
            </th>
            <th scope="col">Se rapporten</th>
        </tr>
        </thead>
        <tbody>
        <tr class="card" th:each="l : ${list}" th:field="${l}">
            <td th:if="${checkEndDate.compareNowAndEndDate(l.endDate)==1}"  class="individual" th:text="${l.leaseID}">
            </td>
            <td th:if="${checkEndDate.compareNowAndEndDate(l.endDate)==1}"   class="individual" th:text="${l.firstName}">
            </td>
            <td  th:if="${checkEndDate.compareNowAndEndDate(l.endDate)==1}"  class="individual" th:text="${l.lastName}">
            </td>
            <td th:if="${checkEndDate.compareNowAndEndDate(l.endDate)==1}"   class="individual" th:text="${period.subtractDates(l.startDate,l.endDate)}">
            </td>
            <td th:if="${checkEndDate.compareNowAndEndDate(l.endDate)==1}"   class="individual" th:text="${#temporals.format(l.startDate,'dd/MM-yy')}">
            </td>
            <td th:if="${checkEndDate.compareNowAndEndDate(l.endDate)==1}"   class="individual" th:text="${#temporals.format(l.endDate,'dd/MM-yy')}">

            <td th:if="${checkEndDate.compareNowAndEndDate(l.endDate)==1}"   class="row-update"><a class="link-row link" th:href="@{/udbedring/{id}(id=${l.leaseID})}">Opret rapport</a>
            </td>

        </tr>
        </tbody>

    </table>

</div>

</body>
</html>