<!-- Lavet af Simon og Mohammed -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Lageroverblik</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>

<div th:replace="allusers.fragment :: lejeaftale"></div>
<div th:replace="admin.fragment"></div>

<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../static/CSS/images/hero.png"/>
</div>
<div class="container-dashboard">

    <h1>Lageroverblik</h1>
    <table>
        <thead>
        <tr>
            <th scope="col">
                Vognnummer
            </th>
            <th scope="col">
                Stelnummer
            </th>
            <th scope="col">
                Brand
            </th>
            <th scope="col">
                Model
            </th>
            <th scope="col">
                Pris / md
            </th>
            <th scope="col">
                Status
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="card" th:each="car : ${allCars}">
            <td th:text="${car.getVognNummer()}">
            </td>
            <td th:text="${car.getStelNummer()}">
            </td>
            <td th:text="${car.getBrand()}">
            </td>
            <td th:text="${car.getModel()}">
            </td>
            <td th:text="${#numbers.formatDecimal(car.getPrice(),0,'POINT',0,'COMMA')}">
            </td>
            <td class="td" th:if="${car.isLeased() == 1}">
                <button style="background-color: #B22727"></button>
            </td>
            <td class="td" th:if="${car.isLeased() == 0}">
                <button style="background-color: #3c805c"></button>
            </td>

        </tr>
        </tbody>

    </table>

</div>
</body>
</html>