<nav th:fragment="lejeaftale" class="navi-section">
    <div class="navbar" id="navbar">
        <div class="logo-left-nav">
            <a href="/"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                             src="../static/CSS/images/Logo-250x250.png"/></a>
        </div>
        <div class="navigation">
            <a href="../opretlejeaftale">Opret Lejeaftale</a>
            <a href="../allelejeaftaler">Alle Lejeaftaler</a>
            <a href="../findlejeaftale">Find Lejeaftale</a>
            <a href="../logout" class="login-button">Logud</a>
        </div>
    </div>
</nav>