<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body onload="document.getElementById('id01').style.display='block'">
<div th:replace="nav.fragment"></div>
<div class="hero-backdrop">
    <a href="/"><img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
                     src="../static/CSS/images/hero.png"/></a>
</div>
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
        class="close" title="Close Modal">&times;</span>

    <form class="modal-content animate"
          action="/login"
          method="post">

        <div class="imgcontainer">
            <img th:src="@{../CSS/images/logo-symbol_2_b9b3ka.png}" alt="Avatar" class="avatar">
        </div>
        <div class="header">
            <h1 class="h1">
                Velkommen
            </h1>
            <p class="p-text">
                Log på for at fortsætte til Medarbejder portalen.
            </p>
        </div>
        <div class="container">

            <!--        <input class="input-field" type="text" placeholder="Brugernavn" name="userName" required>-->
            <!--        <input class="input-field" type="text" placeholder="Adgangskode" name="password" required>-->

            <div class="floating">
                <input id="input__username" class="floating__input" name="userName" required type="text"
                       placeholder="Username"/>
                <label for="input__username" class="floating__label" data-content="Brugernavn">
            </div>
            <div class="floating">
                <input id="input__password" class="floating__input" name="password" required type="text"
                       placeholder="Password"/>
                <label for="input__password" class="floating__label" data-content="Adgangskode">
                    <div class="psw-container">
                        <span class="psw"><a href="#">Har du glemt din adgangskode?</a></span>
                    </div>
                    <div>

                    </div>
            </div>
    </form>
    <button class="submit-button" type="submit">Log ind</button>
</div>
<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>