<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form
        action="/login"
        method="post"
        class="form-control">
    <div class="container-small-page">
        <label class="header">userName</label>
        <input class="input-field" type="text" placeholder="Enter userName" name="userName" required>

        <label class="header">Password</label>
        <input class="input-field" type="text" placeholder="Enter Password" name="password" required>

        <button class="submit-button" type="submit">Log ind</button>
    </div>

</form>
</body>
</html>