<nav th:fragment="skade" class="navi-section">
<div class="navbar" id="navbar">
    <div class="logo-left-admin">
        <a href="/admin"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                  src="../static/CSS/images/Logo-250x250.png"/></a>
    </div>
    <div class="navigation">
    <a href="../dashboard">Dashboard</a>
    <a href="../opretlejeaftale" >Lejeaftaler</a>
    <a href="../findlease" >Skadesrapport</a>
    <a href="../admin" >Håndter bruger </a>

    <a href="../logout" >Logud</a>
    </div>
</div>
</nav>