<div class="navbar" id="navbar">
    <div class="logo-left-admin">
        <img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
             src="../static/CSS/images/Logo-250x250.png"/>
    </div>
    <a href="../login" class="login-button">Dashboard</a>
    <a href="../opretlejeaftale" class="login-button">Lejeaftaler</a>
    <a href="../findlease" class="login-button">Skadesrapport</a>
    <a href="../login" class="login-button">Slet</a>
    <a href="../login" class="login-button">Logud</a>
</div>