<!-- Lavet af Mohammed -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${pagetitle}"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/png" th:href="@{../favicon.png}"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="allusers.fragment :: adminnav"></div>
<div th:replace="admin.fragment"></div>

<div class="form-container">
    <h1>Opret ny medarbejder med bruger log-ind</h1>
    <form
            action="/addEmployee"
            onsubmit="myFunction()"
            method="post"
            enctype="multipart/form-data">
        <div class="zindex">
            <label>Fornavn</label>
            <input type="text" required placeholder="Morten" name="firstName">

            <label>Efternavn</label>
            <input type="text" required placeholder="Johansen" name="lastName">

            <label>E-Mail</label>
            <input type="text" required placeholder="morten@bilabonnement.dk" name="eMail">

            <label>Telefonnummer</label>
            <input type="text" required placeholder="34323336" name="phoneNumber">

            <label>Brugernavn</label>
            <input type="text" required placeholder="Morten135h" name="userName">

            <label>Adgangskode</label>
            <input type="text" required placeholder="Mort9911EN" name="password">

            <label class="label-header">Billed - Max 10mb</label>
            <input class="picture-upload" type="file" name="image" accept="image/png, image/jpeg, image/jpg"/>

            <label>Vælg type medarbejder</label>
            <select name="type" required>
                <option value="1">Registrerings Medarbejder</option>
                <option value="2">Skade- Registrerings Medarbejder</option>
                <option value="3">ForretningsUdvikler</option>
                <option value="4">Administrator</option>
            </select>
            <button type="submit">Opret medarbejder</button>
        </div>
    </form>
</div>
<script>
    function myFunction() {
        firstName = document.forms[0].firstName.value;
        alert(firstName+" er oprettet");
    }
</script>
</body>
</html>