<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Register Fejl og Mangler</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>
<nav class="navi-section">
    <div class="navbar" id="navbar">
        <div class="logo-left-nav">
            <a href="/opretlejeaftale"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                            src="../static/CSS/images/Logo-250x250.png"/></a>
        </div>
        <div class="name-logout">
            <a href="../opretlejeaftale">Opret Lejeaftale</a>
            <a href="../allelejeaftaler">Alle Lejeaftaler</a>
            <a href="../findlejeaftale" >Find Lejeaftale</a>
            <a class="navi-username" th:text="${user.username}" ></a>
            <a href="../logout" class="login-button">Logud</a>
        </div>

    </div>
</nav>
<nav th:if="${user.type==4}" class="navi-section-admin">
    <div class="navbar" id="navbar-admin">
        <div class="logo-left-admin">

        </div>
        <div class="navigation">
            <a th:if="${user.type==4}" href="../dashboard">Dashboard</a>
            <a th:if="${user.type==4}" href="../opretlejeaftale" >Lejeaftaler</a>
            <a th:if="${user.type==4}" href="../findlease" >Skadesrapport</a>
            <a th:if="${user.type==4}" href="../opretbruger" >Håndter bruger </a>
        </div>
    </div>
</nav>
<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../static/CSS/images/hero.png"/>
</div>
<div class="container-rapport">
    <h1>Opret lejeaftale</h1>

    <form
            method="POST"
            th:action="@{/opretlejeaftale}">
        <div class="container-form-big">


            <label class="label-header">Fornavn</label>
            <input type="text" placeholder="Erik" name="firstName">

            <label class="label-header">Efternavn</label>
            <input type="text" placeholder="Hansen" name="lastName">

            <label class="label-header">Periode</label>
            <input type="text" placeholder="Lejeperiode" name="leasePeriod">

            <label class="label-header">Start Dato</label>
            <input type="date" placeholder="start dato" name="startDate">

            <label class="label-header">Slut Dato</label>
            <input type="date" placeholder="slut dato" name="endDate">

            <label class="label-header">Tilgængelige biler</label>
            <select name="vognNummer">
                <option th:each="Car : ${listOfAvaibleCars}"
                        th:text="${Car}"
                        th:value="${Car.getVognNummer()}"></option>
            </select>


            <button class="submit-button-small" type="submit">Opret lejeaftale</button>
        </div>

    </form>
</div>
</body>
</html>