<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Opret bruger</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>
<nav class="navi-section">
    <div class="navbar" id="navbar">
        <div class="logo-left-admin">
            <a href="/admin"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                  src="../static/CSS/images/Logo-250x250.png"/></a>
        </div>
        <div class="name-logout">
            <a th:if="${user.type==4}" href="../skiftkode" >Skift Kode </a>
            <a th:if="${user.type==4}" href="../sletbruger" >Slet Bruger </a>
            <a th:if="${user.type==4}" href="../opretbruger" >Opret Bruger </a>
            <a class="navi-username" th:text="${user.username}"></a>
            <a href="../logout" class="login-button">Logud</a>
        </div>
    </div>
</nav>
<nav th:if="${user.type==4}" class="navi-section-admin">
    <div class="navbar" id="navbar-admin">
        <div class="logo-left-admin">

        </div>
        <div class="navigation">
            <a th:if="${user.type==4}" href="../dashboard">Dashboard</a>
            <a th:if="${user.type==4}" href="../opretlejeaftale">Lejeaftaler</a>
            <a th:if="${user.type==4}" href="../findlease">Skadesrapport</a>
            <a th:if="${user.type==4}" href="../opretbruger" >Håndter bruger </a>
        </div>
    </div>
</nav>
<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../static/CSS/images/hero.png"/>
</div>
<div class="form-container">
    <h1>Opret medarbejder</h1>
    <form
            action="/addEmployee"
            method="post">
        <div class="zindex">
            <label>Indtast Fornavn</label>
            <input type="text" placeholder="Fornavn" name="firstName">
            <br><br>
            <label>Indtast efterNavn</label>
            <input type="text" placeholder="Indtast her" name="lastName">
            <br><br>
            <label>Indtast E-Mail</label>
            <input type="text" placeholder="test@mail.dk" name="eMail">
            <br><br>
            <label>Indtast telefonnummer</label>
            <input type="text" placeholder="+45 34323336" name="phoneNumber">
            <br><br>
            <label>Indtast Brugernavn</label>
            <input type="text" placeholder="Moha135h" name="userName">
            <br><br>
            <label>Indtast Adgangskode</label>
            <input type="text" placeholder="TestKode123" name="password">
            <br><br>
            <label>Vælg type medarbejder</label>
            <select name="type">
                <option value="1">Registrerings Medarbejder</option>
                <option value="2">Skade- Registrerings Medarbejder</option>
                <option value="3">ForretningsUdvikler</option>
                <option value="4">Administrator</option>
            </select>
            <button type="submit">Opret medarbejder</button>
        </div>
    </form>
</div>
</div>


</body>
</html>