<!-- Lavet af Malthe og Mohammed -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Register Fejl og Mangler</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="allusers.fragment :: lejeaftale"></div>
<div th:replace="admin.fragment"></div>
<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../static/CSS/images/hero.png"/>
</div>
<div class="container-rapport">
    <h1>Opret lejeaftale</h1>

    <form
            method="POST"
            onsubmit="myFunction()"
            th:action="@{/opretlejeaftale}">
        <div class="container-form-big">


            <label class="label-header">Fornavn</label>
            <input type="text" placeholder="Erik" name="firstName">

            <label class="label-header">Efternavn</label>
            <input type="text" placeholder="Hansen" name="lastName">

            <label class="label-header">Start Dato</label>
            <input type="date" placeholder="start dato" name="startDate">

            <label class="label-header">Slut Dato</label>
            <input type="date" placeholder="slut dato" name="endDate">

            <label class="label-header">Tilgængelige biler</label>
            <select name="vognNummer">
                <option th:each="Car : ${listOfAvaibleCars}"
                        th:text="${Car}"
                        th:value="${Car.getVognNummer()}"></option>
            </select>


            <button class="submit-button-small" type="submit">Opret lejeaftale</button>
        </div>

    </form>
</div>
<script>
    function myFunction() {
        firstName = document.forms[0].firstName.value;
        alert("Leje aftalen er nu oprettet, for denne kunde: "+firstName);
    }
</script>
</body>
</html>