<!-- Lavet af Mohammed -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Opret bruger</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/png" th:href="@{../favicon.png}"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="allusers.fragment :: adminnav"></div>
<div th:replace="admin.fragment"></div>

<div class="form-container">
    <h1>Opret medarbejder</h1>
    <form
            action="/addEmployee"
            onsubmit="myFunction()"
            method="post">
        <div class="zindex">
            <label>Indtast Fornavn</label>
            <input type="text" required placeholder="Fornavn" name="firstName">

            <label>Indtast Efternavn</label>
            <input type="text" required placeholder="Indtast her" name="lastName">

            <label>Indtast E-Mail</label>
            <input type="text" required placeholder="test@mail.dk" name="eMail">

            <label>Indtast Telefonnummer</label>
            <input type="text" required placeholder="+45 34323336" name="phoneNumber">

            <label>Indtast Brugernavn</label>
            <input type="text" required placeholder="Moha135h" name="userName">

            <label>Indtast Adgangskode</label>
            <input type="text" required placeholder="TestKode123" name="password">

            <label>Vælg type medarbejder</label>
            <select name="type" required>
                <option value="1">Registrerings Medarbejder</option>
                <option value="2">Skade- Registrerings Medarbejder</option>
                <option value="3">ForretningsUdvikler</option>
                <option value="4">Administrator</option>
            </select>
            <button type="submit">Opret medarbejder</button>
        </div>
    </form>
</div>
<script>
    function myFunction() {
        firstName = document.forms[0].firstName.value;
        alert(firstName+" er oprettet");
    }
</script>
</body>
</html>