<!--Mohammed -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${profile.firstName}"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/png" th:href="@{../favicon.png}"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
    <link rel="stylesheet" href="../static/CSS/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link th:href="@{/CSS/profile.css}" rel="stylesheet"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css}" rel="stylesheet"/>
</head>
<body>

<div th:replace="profile.fragment"></div>


<div class="container-dashboard">
    <div class="sidenav">
        <div class="profile">
            <img th:src="@{../CSS/images/Logo-250x250.png}" alt="" width="100" height="100">

            <div class="name" th:text="${profile.firstName}">
            </div>
            <div class="job" th:if="${user.type == 1}">
                Dataregistrerings medarbejder for nye lejeaftaler
            </div>
            <div class="job" th:if="${user.type == 2}">
                Dataregistrerings medarbejder for fejl og mangler
            </div>
            <div class="job" th:if="${user.type == 3}">
                Forretningsudvikler
            </div>
            <div class="job" th:if="${user.type == 4}">
                Administrator
            </div>
            <br>
            <div class="sidenav-url">
                <div class="url">
                    <a href="#profile" class="active">Profil</a>
                    <hr align="center">
                </div>
                <div class="url">
                    <a href="">Ændre profil</a>
                    <hr align="center">
                </div>
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- Main -->
    <div class="main">
        <h2>Informationer</h2>
        <div class="card">
            <div class="card-body">
                <table>
                    <tbody>
                    <tr>
                        <td>Fornavn</td>
                        <td th:text="${profile.firstName}">
                        </td>
                    </tr>
                    <tr>
                        <td>Efternavn</td>
                        <td th:text="${profile.lastName}">
                        </td>
                    </tr>
                    <tr>
                        <td>Telefonnummer</td>
                        <td th:text="${profile.phoneNumber}">
                        </td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td th:text="${profile.eMail}">
                        </td>
                    </tr>
                    <tr>
                        <td>Bruger ID</td>
                        <td th:text="${profile.employeeID}">
                        </td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td class="td" th:if="${profile.status == 0}">
                            <button style="background-color: #B22727"></button>
                        </td>
                        <td class="td" th:if="${profile.status == 1}">
                            <button style="background-color: #3c805c"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
</body>
</html>