<!--Mohammed -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Rediger' + profile.firstName}"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/png" th:href="@{../favicon.png}"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
    <link rel="stylesheet" href="../static/CSS/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link th:href="@{/CSS/profile.css}" rel="stylesheet"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js}"></script>
</head>
<body>
<div th:if="${profile.type == 1}" th:replace="profile.fragment :: lejeaftale"></div>
<div th:if="${profile.type == 2}" th:replace="profile.fragment :: skade"></div>
<div th:if="${profile.type == 3}" th:replace="profile.fragment :: dashboard"></div>
<div th:if="${profile.type == 4}" th:replace="profile.fragment :: adminnav"></div>
<div th:replace="admin.fragment"></div>


<div class="container-dashboard">
    <div class="sidenav">
        <div class="profile">
            <img th:src="@{../CSS/images/Logo-250x250.png}" alt="" width="100" height="100">

            <div class="name" th:text="${profile.firstName + ' ' + profile.lastName}">
            </div>
            <div class="job" th:if="${user.type == 1}">
                Dataregistrerings medarbejder for nye lejeaftaler
            </div>
            <div class="job" th:if="${user.type == 2}">
                Dataregistrerings medarbejder for fejl og mangler
            </div>
            <div class="job" th:if="${user.type == 3}">
                Forretningsudvikler
            </div>
            <div class="job" th:if="${user.type == 4}">
                Administrator
            </div>
            <br>
            <div class="sidenav-url">
                <div class="url">
                    <a href="/profile">Profil</a>
                    <hr align="center">
                </div>
                <div class="url">
                    <a href="/profileedit" class="active">Ændre profil</a>
                    <hr align="center">
                </div>
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- Main -->
    <div class="main">
        <h2>Opdater dine oplysninger</h2>
        <div class="card">
            <div class="card-body">
                <form action="/profileedit"
                      method="post"
                      style="margin-right:10%">
                    <div class="info">
                        <label>Fornavn</label>
                        <input class="fname" type="text" th:value="${profile.firstName}" readonly>
                        <label>Efternavn</label>
                        <input class="fname" type="text" th:value="${profile.lastName}" readonly>
                        <label>Telefonnummer</label>
                        <input type="tel" name="phoneNumber"  id="phone" th:placeholder="${profile.phoneNumber}" required>
                        <label style="margin-top: 3%">E-mail</label>
                        <input type="email" name="eMail" th:placeholder="${profile.eMail}" required>
                        <label>Type medarbejder</label>
                        <input th:if="${user.type == 4}" class="fname" type="text" value="Administrator" readonly>
                        <input th:if="${user.type == 3}" class="fname" type="text" value="Forretningsudvikler" readonly>
                        <input th:if="${user.type == 2}" class="fname" type="text" value="Dataregistrerings medarbejder for fejl og mangler" readonly>
                        <input th:if="${user.type == 1}" class="fname" type="text" value="Dataregistrerings medarbejder for nye lejeaftaler" readonly>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="checkbox" required/><span>Er du sikker?</span>
                    </div>
                    <button type="submit">Opdater Oplysninger</button>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>
</html>