<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Register Fejl og Mangler</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<div th:replace="nav.fragment"></div>
<div class="hero-backdrop">
    <a href="/"><img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
                     src="../static/CSS/images/hero.png"/></a>
</div>
<body>
<h2>Opret medarbejder</h2>
<form
        action="/fejl"
        method="post"
        enctype="multipart/form-data"
        class="form-control">
    <div class="container-form-small">
        <label>Indtast Brugernavn</label>
        <input type="text" placeholder="pris pr skade" name="price">

        <label>Fejl Og Mangler</label>
        <input type="text" placeholder="title" name="title">

        <label>Beskrivelse</label>
        <input type="text" placeholder="Beskrivelse" name="description">

        <label class="header">Billed</label>
        <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" />

        <button class="submit-button-small" type="submit">Opret skade</button>

    </div>
</form>

<h2> TEST fejl </h2>

</body>
</html>