<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>registrerLejeAftale</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<div th:replace="nav.fragment"></div>
<div class="hero-backdrop">
    <a href="/static"><img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
                           src="../static/CSS/images/hero.png"/></a>
</div>
<body>
<h2>TEST</h2>
<h2>Log ud</h2>
<form
        action="/logout"
        method="post">
    <div class="container">
        <button type="submit">Logud</button>

    </div>
</form>

</body>
</html>