<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Register Fejl og Mangler</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>
<nav class="navi-section">
    <div class="navbar" id="navbar">
        <div class="logo-left-nav">
            <a href="/opretlejeaftale"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                            src="../static/CSS/images/Logo-250x250.png"/></a>
        </div>
        <div class="navigation">
            <a href="../opretlejeaftale">Opret Lejeaftale</a>
            <a href="../allelejeaftaler">Alle Lejeaftaler</a>
            <a href="../findlejeaftale" >Find Lejeaftale</a>
        </div>
        <div class="name-logout">
            <a class="navi-username" th:text="${user.username}" ></a>
            <a href="../logout" class="login-button">Logud</a>
        </div>

    </div>
</nav>

<div class="container-rapport">
    <h1>Se lejeaftale</h1>
    <form
            method="get"
            th:action="@{/findlejeaftale/}">
        <div class="container-form-big">

            <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find lejeaftale" size="50" >


            <button class="submit-button-small" type="submit">Søg efter lejeaftale</button>
        </div>

    </form>

    <div class="three-tables-container">
        <table class="reverse">
            <thead>
            <tr class="tr">
                <th class="th" scope="col">
                    Lejeaftale ID
                </th>
                <td class="skade" th:text="${lease.leaseID}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Kunde Fornavn
                </th>
                <td class="skade" th:text="${lease.firstName}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Kunde Efternavn
                </th>
                <td class="skade" th:text="${lease.lastName}">
                </td>
            </tr>
            <tr>
                <th class="th" scope="col">
                    Lejeaftale I dage
                </th>
                <td class="skade" th:text="${lease.leasePeriodInDays}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Start Dato
                </th>
                <td class="skade" th:text="${lease.startDate}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Slut Dato
                </th>
                <td class="skade" th:text="${lease.endDate}">
                </td>
            </tr>

            </thead>

        </table>
        <table class="reverse">
            <thead>
            <tr class="tr">
                <th class="th" scope="col">
                    Vognnummer
                </th>
                <td class="skade" th:text="${car.vognNummer}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Stelnummer
                </th>
                <td class="skade" th:text="${car.stelNummer}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Mærke
                </th>
                <td class="skade" th:text="${car.brand}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Model
                </th>
                <td class="skade" th:text="${car.model}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Pris
                </th>
                <td class="skade" th:text="${car.price}">
                </td>
            </tr>

            </thead>
        </table>
    </div>

</div>
</body>
</html>