<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>SkadeRapport</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>
<nav class="navi-section">
    <div class="navbar" id="navbar">
        <div class="logo-left-skade">
            <a href="/findlease"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                      src="../static/CSS/images/Logo-250x250.png"/></a>
        </div>
        <div class="name-logout">
            <a href="../findlease">Opret SkadeRapport</a>
            <a href="../skaderapport">Alle Skadesrapporter</a>
            <a class="navi-username" th:text="${user.username}" ></a>
            <a href="../logout" class="login-button">Logud</a>
        </div>
    </div>
</nav>
<nav th:if="${user.type==4}" class="navi-section-admin">
    <div class="navbar" id="navbar-admin">
        <div class="logo-left-admin">

        </div>
        <div class="navigation">
            <a th:if="${user.type==4}" href="../dashboard">Dashboard</a>
            <a th:if="${user.type==4}" href="../opretlejeaftale" >Lejeaftaler</a>
            <a th:if="${user.type==4}" href="../findlease" >Skadesrapport</a>
            <a th:if="${user.type==4}" href="../opretbruger" >Håndter bruger </a>
        </div>
    </div>
</nav>
<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../static/CSS/images/hero.png"/>
</div>
<div class="container-skader">

    <div class="damageReport">
        <h1 class="inline">Skadesrapport #</h1>
        <h1 class="inline" th:text="${damageReport.damageReportID}"></h1>
    </div>


    <div class="three-tables-container">
        <table class="reverse">
            <thead>
            <tr class="tr">
                <th class="th" scope="col">
                    Lejeaftale ID
                </th>
                <td class="skade" th:text="${lease.leaseID}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Kunde Fornavn
                </th>
                <td class="skade" th:text="${lease.firstName}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Kunde Efternavn
                </th>
                <td class="skade" th:text="${lease.lastName}">
                </td>
            </tr>
            <tr>
                <th class="th" scope="col">
                    Lejeaftale I dage
                </th>
                <td class="skade" th:text="${period.subtractDates(lease.startDate,lease.endDate)}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Start Dato
                </th>
                <td class="skade" th:text="${lease.startDate}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Slut Dato
                </th>
                <td class="skade" th:text="${lease.endDate}">
                </td>
            </tr>

            </thead>

        </table>

        <table class="reverse">
            <thead>
            <tr class="tr">
                <th class="th" scope="col">
                    Vognnummer
                </th>
                <td class="skade" th:text="${car.vognNummer}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Stelnummer
                </th>
                <td class="skade" th:text="${car.stelNummer}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Mærke
                </th>
                <td class="skade" th:text="${car.brand}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Model
                </th>
                <td class="skade" th:text="${car.model}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Pris
                </th>
                <td class="skade" th:text="${car.price}">
                </td>
            </tr>

            </thead>
        </table>

        <table class="reverse">
            <thead>
            <tr class="tr">
                <th class="th" scope="col">
                    Medarbejder ID
                </th>
                <td class="skade" th:text="${employee.employeeID}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Fornavn
                </th>
                <td class="skade" th:text="${employee.firstName}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Efternavn
                </th>
                <td class="skade" th:text="${employee.lastName}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Telefonnummer
                </th>
                <td class="skade" th:text="${employee.phoneNumber}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    eMail
                </th>
                <td class="skade" th:text="${employee.eMail}">
                </td>
            </tr>
            </thead>

        </table>
    </div>


    <div class="damageReport">
        <h2 class="inline-h2">Antal Individuelle Skader:</h2>
        <h2 class="inline-noMargin" th:text="${specificDamage.size()}"></h2>
    </div>

    <div class="container-cards">

        <div th:each="damage : ${specificDamage}">

            <div class="card">
                <div class="card-header-big">
                    <img th:src="@{${'../'+damage.photosImagePath}}" alt="billed"/>
                </div>
                <div class="card-body-big">
                    <div class="inline-tag">
                        <span class="tag tag-teal-second" th:text="${specificDamage.indexOf(damage)+1}">title</span>
                        <span class="tag tag-teal" th:text="${damage.title}">title</span>

                    </div>
                    <h4 class="h4-header" th:text="${damage.price}">DKK
                    </h4>
                    <p th:text="${damage.description}">
                    </p>
                    <!-- <div class="button">
                         <a th:href="@{/onsker/{wishListID}(wishListID=${onskelister.id})}"  class="button-small">SE ØNSKER</a>
                         <a th:href="@{/sletonskeliste/{id}/{userID}(id=${onskelister.id},userID=${onskelister.userID})}" class="button-small-delete">SLET
                             ØNSKELISTE</a>
                     </div> -->
                </div>

            </div>
        </div>
        <form
                th:action="@{/fejl/{id}(id=${damageReport.damageReportID})}"
                method="post"
                onsubmit="myFunction()"
                enctype="multipart/form-data"
                class="form-control">
            <div class="container-form-small">


                <label class="label-header">Fejl Og Mangler</label>
                <input type="text" placeholder="title" name="title">

                <label class="label-header">Beskrivelse</label>
                <input type="text" placeholder="Beskrivelse" name="description">

                <label class="label-header">Indtast Pris</label>
                <input type="text" placeholder="pris pr skade" name="price">

                <label class="label-header">Billed - Max 2mb</label>
                <input type="file" name="image" accept="image/png, image/jpeg, image/jpg"/>

                <button class="submit-button-small" type="submit">Opret skade</button>

            </div>
        </form>

    </div>


    <div class="damageReport">
        <h2 class="inline-h2">Prisoverslag</h2>
    </div>
    <table class="price">
        <thead>
        <tr>
            <th>
                Skade
            </th>
            <th>
                Title
            </th>
            <th>
                Pris
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="card" th:each="skade : ${specificDamage}">
            <td class="individual" th:text="${specificDamage.indexOf(skade)+1}">
            </td>
            <td class="individual" th:text="${skade.title}">
            </td>
            <td class="individual" th:text="${skade.price}">
            </td>

        </tr>

        <tr>
            <th class="before" th:text="${damageReport.damageReportID}"></th>
            <th class="before-table">Total Pris</th>
            <td class="individual-big" th:text="${sumTotal.sumTotal}"></td>
        </tr>
        </tbody>
    </table>

</div>
<script>
    function myFunction() {
        title = document.forms[0].title.value;
        alert(title+" er oprettet");
    }
</script>
</body>
</html>