<!-- Lavet af Malthe -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>SkadeRapport</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://html2canvas.hertzen.com/">
    <link href="https://github.com/SuperAL/canvas2image">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/png" th:href="@{../favicon.png}"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link href="../static/CSS/main.css" rel="stylesheet"/>
    <link href="../static/CSS/NavBar.css" rel="stylesheet"/>

</head>
<body>
<div th:replace="allusers.fragment :: skade"></div>
<div th:replace="admin.fragment"></div>

<div class="container-skader" id="pdf">


        <button th:if="${damageReport.status==0}" class="skader" th:classappend="${damageReport.status==1} ? updatered : updategreen"><a th:if="${damageReport.status==0}" th:href="@{/changestatustoone/{drID}(drID=${damageReport.damageReportID})}">Bilen er klar</a></button>
        <button th:if="${damageReport.status==1}" class="skader" th:classappend="${damageReport.status==1} ? updatered : updategreen"><a th:if="${damageReport.status==1}" th:href="@{/changestatus/{drID}(drID=${damageReport.damageReportID})}">Ikke klar</a></button>
    <button onclick="printDiv('pdf','Title')">Print Skadesrapport</button>

    <div class="damageReport">

        <h1 class="inline">Skadesrapport #</h1>
        <h1 class="inline" th:text="${damageReport.damageReportID}"></h1>
    </div>


    <div class="three-tables-container">
        <table class="reverse">
            <thead>
            <tr class="tr">
                <th class="th" scope="col">
                    Lejeaftale ID
                </th>
                <td class="skade" th:text="${lease.leaseID}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Kunde Fornavn
                </th>
                <td class="skade" th:text="${lease.firstName}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Kunde Efternavn
                </th>
                <td class="skade" th:text="${lease.lastName}">
                </td>
            </tr>
            <tr>
                <th class="th" scope="col">
                    Lejeaftale I dage
                </th>
                <td class="skade" th:text="${period.subtractDates(lease.startDate,lease.endDate)}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Start Dato
                </th>
                <td class="skade" th:text="${#temporals.format(lease.startDate,'dd/MM-yy')}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Slut Dato
                </th>
                <td class="skade" th:text="${#temporals.format(lease.endDate,'dd/MM-yy')}">
                </td>
            </tr>

            </thead>

        </table>

        <table class="reverse">
            <thead>
            <tr class="tr">
                <th class="th" scope="col">
                    Vognnummer
                </th>
                <td class="skade" th:text="${car.vognNummer}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Stelnummer
                </th>
                <td class="skade" th:text="${car.stelNummer}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Mærke
                </th>
                <td class="skade" th:text="${car.brand}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Model
                </th>
                <td class="skade" th:text="${car.model}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Pris
                </th>
                <td class="skade" th:text="${car.price}">
                </td>
            </tr>

            </thead>
        </table>

        <table class="reverse">
            <thead>
            <tr class="tr">
                <th class="th" scope="col">
                    Medarbejder ID
                </th>
                <td class="skade" th:text="${employee.employeeID}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Fornavn
                </th>
                <td class="skade" th:text="${employee.firstName}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Efternavn
                </th>
                <td class="skade" th:text="${employee.lastName}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Telefonnummer
                </th>
                <td class="skade" th:text="${employee.phoneNumber}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    eMail
                </th>
                <td class="skade" th:text="${employee.eMail}">
                </td>
            </tr>
            </thead>

        </table>
    </div>


    <div class="damageReport">
        <h2 class="inline-h2">Antal Individuelle Skader:</h2>
        <h2 class="inline-noMargin" th:text="${specificDamage.size()}"></h2>
    </div>

    <div class="container-cards">

        <div th:each="damage : ${specificDamage}">

            <div class="card">
                <div class="card-header-big">
                    <img th:src="@{${'../'+damage.photosImagePath}}" alt="billed"/>
                </div>
                <div class="card-body-big">
                    <div class="inline-tag">
                        <span class="tag tag-teal-second" th:text="${specificDamage.indexOf(damage)+1}">title</span>
                        <span class="tag tag-teal" th:text="${damage.title}">title</span>

                    </div>
                    <h4 class="h4-header" th:text="${#numbers.formatDecimal(damage.price,0,'POINT',0,'COMMA')}">DKK
                    </h4>
                    <p th:text="${damage.description}">
                    </p>
                    <div class="button">
                         <a th:href="@{/skader/{id}/{skadeID}(id=${damage.damageReportID},skadeID=${damage.damageID})}" class="button-small-delete">SLET
                             SKADE</a>
                     </div>
                </div>

            </div>
        </div>
        <form
                th:action="@{/fejl/{id}(id=${damageReport.damageReportID})}"
                method="post"
                onsubmit="myFunction()"
                enctype="multipart/form-data"
                class="form-control">
            <div class="container-form-small">


                <label class="label-header">Fejl Og Mangler</label>
                <input type="text" placeholder="title" name="title">

                <label class="label-header">Beskrivelse</label>
                <input type="text" placeholder="Beskrivelse" name="description">

                <label class="label-header">Indtast Pris</label>
                <input type="text" placeholder="pris pr skade" name="price">

                <label class="label-header">Billed - Max 2mb</label>
                <input type="file" name="image" accept="image/png, image/jpeg, image/jpg"/>

                <button class="submit-button-small" type="submit">Opret skade</button>

            </div>
        </form>

    </div>


    <div class="damageReport">
        <h2 class="inline-h2">Prisoverslag</h2>
    </div>
    <table class="price">
        <thead>
        <tr>
            <th>
                Skade #
            </th>
            <th>
                Title
            </th>
            <th>
                Pris
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="card" th:each="skade : ${specificDamage}">
            <td class="individual" th:text="${specificDamage.indexOf(skade)+1}">
            </td>
            <td class="individual" th:text="${skade.title}">
            </td>
            <td class="individual" th:text="${#numbers.formatDecimal(skade.price,0,'POINT',0,'COMMA')}">
            </td>

        </tr>

        <tr>
            <th class="before" th:text="${damageReport.damageReportID}"></th>
            <th class="before-table">Total Pris</th>
            <td class="individual-big" th:text="${#numbers.formatDecimal(sumTotal.sumTotal,0,'POINT',0,'COMMA')}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function myFunction() {
        title = document.forms[0].title.value;
        alert(title+" er oprettet");
    }
</script>
<script>
    var doc = new jsPDF();

    function saveDiv(divId, title) {
        doc.fromHTML(`<html><head><title>${title}</title></head><body>` + document.getElementById(divId).innerHTML + `</body></html>`);
        doc.save('pdf');
    }

    function printDiv(divId,
                      title) {

        let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');

        mywindow.document.write(`<html><head><title>${title}</title>`);
        mywindow.document.write('</head><body >');
        mywindow.document.write(document.getElementById(divId).innerHTML);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
    }


</script>
</body>
</html>