<!-- Lavet af Malthe -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>SkadeRapport</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="allusers.fragment :: skade"></div>
<div th:replace="admin.fragment"></div>
<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../static/CSS/images/hero.png"/>
</div>
<div class="container-dashboard">

    <h1>Alle Skadessrapporter</h1>
    <table>
        <thead>
        <tr>
            <th scope="col">
                Skadesrapport ID
            </th>
            <th scope="col">
                Lejeaftale ID
            </th>
            <th scope="col">
                Vognnummer ID
            </th>
            <th scope="col">
                Medarbejder ID
            </th>
            <th scope="col">Se rapporten</th>
        </tr>
        </thead>
        <tbody>
        <tr class="card" th:each="rapport : ${damageReports}">
            <td>
                <a th:href="@{/skader/{id}(id=${rapport.damageReportID})}" class="individual"
                   th:text="${rapport.damageReportID}" target="_blank"></a>
            </td>
            <td>
                <a th:href="@{/skader/{id}(id=${rapport.damageReportID})}" class="individual"
                   th:text="${rapport.leaseID}" target="_blank"></a>
            </td>
            <td>
                <a th:href="@{/skader/{id}(id=${rapport.damageReportID})}" class="individual"
                   th:text="${rapport.vognNummer}" target="_blank"></a>
            </td>
            <td>
                <a th:href="@{/skader/{id}(id=${rapport.damageReportID})}" class="individual"
                   th:text="${rapport.employeeID}" target="_blank"></a>
            </td>
            <td class="row-update"><a class="link-row link" th:href="@{/skader/{id}(id=${rapport.damageReportID})}">Se
                skadesrapport</a></td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>