<!-- Lavet af Mohammed og Simon -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Skift adgangskode</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>
<div th:replace="allusers.fragment :: adminnav"></div>
<div th:replace="admin.fragment"></div>
<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../static/CSS/images/hero.png"/>
</div>
<div class="form-container">
    <h1>Skift AdgangsKode</h1>
    <form   onsubmit="myFunction()"
            action="/changePassword"
            method="post">
        <div >
            <label>Vælg medarbejder</label>
            <select name="employeeUserID">
                <option th:each="Employee : ${listOfEmployees}"
                        th:text="${Employee}"
                        th:value="${Employee.getUserID()}"></option>
            </select>

            <label>Nye Adgangskode</label>
            <input type="text" placeholder="skriv nye adgangskode" name="newPassword">
            <label>Er du sikker?</label>
            <label>
                <input class="checkbox" type="checkbox" required>
            </label>
            <button type="submit">Skift adgangskode</button>
            </table>
        </div>
    </form>
</div>
<script >
    function myFunction() {

        newPassword = document.forms[0].newPassword.value;
        alert("Den nye kode er " + newPassword);
    }
</script>
</body>
</html>