<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Skift adgangskode</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>
<nav class="navi-section">
    <div class="navbar" id="navbar">
        <div class="logo-left-admin">
            <a href="/admin"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                  src="../static/CSS/images/Logo-250x250.png"/></a>
        </div>
        <div class="name-logout">
            <a th:if="${user.type==4}" href="../skiftkode" >Skift Kode </a>
            <a th:if="${user.type==4}" href="../sletbruger" >Slet Bruger </a>
            <a th:if="${user.type==4}" href="../opretbruger" >Opret Bruger </a>
            <a class="navi-username" th:text="${user.username}"></a>
            <a href="../logout" class="login-button">Logud</a>
        </div>
    </div>
</nav>
<nav th:if="${user.type==4}" class="navi-section-admin">
    <div class="navbar" id="navbar-admin">
        <div class="logo-left-admin">

        </div>
        <div class="navigation">
            <a th:if="${user.type==4}" href="../dashboard">Dashboard</a>
            <a th:if="${user.type==4}" href="../opretlejeaftale">Lejeaftaler</a>
            <a th:if="${user.type==4}" href="../findlease">Skadesrapport</a>
            <a th:if="${user.type==4}" href="../opretbruger" >Håndter bruger </a>
        </div>
    </div>
</nav>
<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../static/CSS/images/hero.png"/>
</div>
<div class="form-container">
    <h1>Skift AdgangsKode</h1>
    <form
            action="/changePassword"
            method="post">
        <div >
            <label>Vælg medarbejder</label>
            <select name="employeeUserID">
                <option th:each="Employee : ${listOfEmployees}"
                        th:text="${Employee}"
                        th:value="${Employee.getUserID()}"></option>
            </select>

            <label>Nye Adgangskode</label>
            <input type="text" placeholder="skriv nye adgangskode" name="newPassword">
            <button type="submit">Skift adgangskode</button>
            </table>
        </div>
    </form>
</div>
</body>
</html>