<!-- Lavet af Mohammed og Simon -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Slet bruger</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="allusers.fragment :: adminnav"></div>
<div th:replace="admin.fragment"></div>
<div class="hero-backdrop">
    <img th:src="@{../CSS/images/hero.png}" class="backdrop" alt="hero-backdrop"
         src="../static/CSS/images/hero.png"/>
</div>
<div class="form-container">
    <h1>Slet en medarbejder</h1>
    <form   onsubmit="myFunction()"
            action="/deleteEmployee"
            method="post">
        <div>
            <label>Vælg en medarbejder: </label>
            <label>
                <select name="userID">
                    <option th:each="Employee : ${listOfEmployees}"
                            th:if="${Employee.getStatus() == 1}"
                            th:text="${Employee}"
                            th:value="${Employee.getUserID()}"></option>
                </select>
            </label>
        </div>

        <label>Er du sikker?</label>
        <label>
            <input class="checkbox" type="checkbox" required>
        </label>
        <button type="submit">Slet medarbejder</button>
    </form>
</div>
<script >
    function myFunction() {
        userID = document.forms[0].userID.value;
        alert("Bruger "+ userID+" er nu slettet");
    }
</script>
</body>
</html>