<!-- Lavet af Malthe -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Opret Skaderapport</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="allusers.fragment :: skade"></div>
<div th:replace="admin.fragment"></div>

<div class="container-dashboard">
    <h1>Skade og udbedring</h1>
    <form
            method="get"
            th:action="@{/findlease/}">
        <div class="container-form-big">
            <input type="text" name="keyword" th:value="${keyword}" placeholder="Find lejeaftale" size="50">
            <button class="submit-button-small" type="submit">Søg efter lejeaftale</button>
        </div>

    </form>

    <div class="three-tables-container">
        <table class="reverse">
            <thead>
            <tr class="tr">
                <th class="th" scope="col">
                    Lejeaftale ID
                </th>
                <td th:if="${checkEndDate.compareNowAndEndDate(lease.endDate)==1}" class="skade" th:text="${lease.leaseID}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Kunde Fornavn
                </th>
                <td th:if="${checkEndDate.compareNowAndEndDate(lease.endDate)==1}" class="skade" th:text="${lease.firstName}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Kunde Efternavn
                </th>
                <td th:if="${checkEndDate.compareNowAndEndDate(lease.endDate)==1}" class="skade" th:text="${lease.lastName}">
                </td>
            </tr>
            <tr>
                <th class="th" scope="col">
                    Lejeaftale I dage
                </th>
                <td th:if="${checkEndDate.compareNowAndEndDate(lease.endDate)==1}" class="skade" th:text="${period.subtractDates(lease.startDate,lease.endDate)}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Start Dato
                </th>
                <td th:if="${checkEndDate.compareNowAndEndDate(lease.endDate)==1}" class="skade" th:text="${#temporals.format(lease.startDate,'dd/MM-yy')}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Slut Dato
                </th>
                <td th:if="${checkEndDate.compareNowAndEndDate(lease.endDate)==1}" class="skade" th:text="${#temporals.format(lease.endDate,'dd/MM-yy')}">
                </td>
            </tr>

            </thead>

        </table>
        <table class="reverse">
            <thead>
            <tr class="tr">
                <th class="th" scope="col">
                    Vognnummer
                </th>
                <td class="skade" th:text="${car.vognNummer}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Stelnummer
                </th>
                <td class="skade" th:text="${car.stelNummer}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Mærke
                </th>
                <td class="skade" th:text="${car.brand}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Model
                </th>
                <td class="skade" th:text="${car.model}">
                </td>
            </tr>
            <tr class="tr">
                <th class="th" scope="col">
                    Pris
                </th>
                <td class="skade" th:text="${#numbers.formatDecimal(car.price,0,'POINT',0,'COMMA')}">
                </td>
            </tr>

            </thead>
        </table>
    </div>

    <form
            method="POST"
            th:action="@{/skaderapport}">
        <div class="container-form-big">


            <input class="input-field" type="hidden" name="lejeaftaleID" th:value="${lease.leaseID}">

            <input class="input-field" type="hidden" name="vognNummer" th:value="${car.vognNummer}">

            <input class="input-field" type="hidden" name="employeeID" th:value="${employee.userID}">


            <button class="submit-button-small" type="submit">Opret Skadesrapport</button>
        </div>

    </form>
</div>
</body>
</html>